ol ul {
  list-style: none;
}
.navelemnets {
  margin: 40px;
}
a {
  text-decoration: none;
}
li {
  padding: 20px;
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  margin-right: 20px;
}

.logomebe {
  display: flex;
  flex-direction: row;
  
}

.mebe {
  text-align: left;
}

body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  
}

.column {
  margin-top: 15px;
}
div .black {
  position: absolute;
  width: 70%;
  height: 700px;
  background-color: rgb(32, 32, 32);
  color: #fff;
  text-align: center;
  margin-top: 30px;
}
.black .name {
  margin-top: 15%;
}
.black .para {
  padding: 70px;
  margin: 41px;
}
.black .para {
  color: white;
}
.photo {
  top: -703.9px;
  transition: all 1s
}

.photo .firstimg {
  display: flex;
  width: 30%;
  height: 700px;
  right: -150px;
  float: right;
  margin-top: 30px;
}

.photo .hoveroff {
  position: absolute;
  width: 30%;
  height: 700px;
  display: block;
  top: 113px;
  left: 70%;
  opacity: 0;
  transition: all 1s;
  margin-top: 30px;
}
.photo:hover .hoveroff {
  opacity: 1
}
.piano img{
  display: block;
  margin-right: auto;
  margin-left: auto;
}