* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
ol ul {
  list-style: none;
}
.navelemnets {
  margin: 40px;
}
a {
  text-decoration: none;
}
li {
  padding: 20px;
  width: 20px;
  height: 20px;
  display: block;
  float: right;
  margin-right: 20px;
  position: sticky;
}

.logomebe {
  display: flex;
  flex-direction: row;
}

.mebe {
  text-align: left;
}

.column {
  margin-top: 15px;
}
.column div {
  min-height: 200px;
}
div .black {
  position: absolute;
  width: 70%;
  height: 700px;
  top: 89px;
  background-color: rgb(32, 32, 32);
  color: #fff;
  text-align: center;
  margin-top: 20px;
}
.black .name {
  margin-top: 15%;
}
.black .para {
  padding: 70px;
  margin: 41px;
  color: white;
}
.photo .firstimg {
  display: flex;
  height: 700px;
  width: 30%;
  float: right;
}

.piano img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: 20px;
  width: 65em;
  height: 30em;
}
.mystory {
  text-align: center;
  padding-top: 2em;
  font-weight: 700;
}
.story {
  text-align: center;
  padding-left: 10em;
  padding-right: 10em;
  font-weight: 560;
}

.box {
  padding: 30px;
  margin: 60px;
  background: linear-gradient(to bottom, #252783 0%, #542186 100%);
  height: 500px;
  color: #fff;
}
.box input {
  padding: 10px;
  margin: 20px;
  left: 40%;
}
.box .mail {
  margin: 22px;
}
.btn {
  margin: 20px;
  padding: 30px;
  color: #fff;
  background-color: rgb(29, 19, 87);
  border: 3px solid black;
}
